<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="ConsoleAppender"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | Simple Spring Logging App | %logger | %M | [%X{traceId}] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>simple-spring-logging/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 1GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | Simple Spring Logging App | %logger | %M | [%X{traceId}] - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FileAppender"/>
    </root>
</configuration>